* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", sans-serif, Arial;
  background-color: #faf7e8;
  color: #000;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

.navbar {
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border-bottom: 0.5px solid #ddd5b0;
}

.navbar-title {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  list-style: none;
  gap: 5rem;
  padding-right: 5rem;
}

a {
  text-decoration: none;
}

a:visited {
  color: #000;
}

a:hover {
  color: gray;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 275px) {
  .navbar-title {
    font-size: 0.9rem;
  }
  .navigation {
    font-size: 0.9rem;
  }
}

@media (max-width: 263px) {
  .navbar-title {
    display: flex;
    align-items: center;
  }
  .navigation {
    display: flex;
    flex-wrap: wrap;
  }
  .navigation li {
    flex: 1 1 100%;
    text-align: center;
  }
}
@media (max-width: 200px) {
  .navbar-title {
    font-size: 0.7rem;
  }
  .navigation {
    font-size: 0.7rem;
  }
}

@media (max-width: 159px) {
  .navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
  }
  .navbar-title {
    font-size: 0.6rem;
  }
  .navigation {
    font-size: 0.6rem;
  }
}

@media (max-width: 72px) {
  .navbar {
    padding: 5px;
  }
  .navbar-title {
    font-size: 0.4rem;
  }
  .navigation {
    font-size: 0.4rem;
  }
  .main-content {
    font-size: 0.4rem;
  }
}
