* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Playfair Display", sans-serif, Arial;
  background-color: #faf7e8;
  color: #000;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.navbar {
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  border-bottom: 0.5px solid #ddd5b0;
}

.navbar-title {
  font-size: clamp(0.5rem, 2.5vw, 1rem);
  font-weight: bold;
  display: flex;
  align-items: center;
}

.navigation {
  font-size: clamp(0.5rem, 2.3vw, 1rem);
  display: flex;
  list-style: none;
  gap: 2.5rem;
  padding-right: 2.5rem;
}

.nav-links {
  text-decoration: none;
}

.nav-links:visited {
  color: #000;
}

.nav-links:hover {
  color: gray;
}

.post-link {
  font-weight: 600;
  text-decoration: none;
}

.link {
  color: #3576b8;
}

.post-link:hover {
  color: #0e457cd0;
}

.main-content {
  font-size: clamp(0.4rem, 2vw, 1rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.b {
  font-size: clamp(0.2rem, 2.5vw, 1rem);
  align-items: flex-start;
  padding: 3rem;
}

.heading h2 {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.heading span {
  border-bottom: 3px solid #5eddac;
}

.sub-heading {
  border-left: 2px solid #5eddac;
  padding-left: 5px;
}

h1 {
  font-size: clamp(0.7rem, 5vw, 3rem);
}

h2 {
  font-weight: 600;
  margin: 1.5rem 0;
}

.small {
  font-size: clamp(0.7rem, 2vw, 1rem);
  margin-top: 0.25rem;
  text-decoration: none;
  font-weight: 500;
}

.small:hover {
  text-decoration: underline;
}

.blog-article {
  padding-top: 2rem;
}

.footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 1rem;
  font-size: clamp(0.4rem, 5vw, 1rem);
}

@media (max-width: 490px) {
  .navigation {
    gap: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 326px) {
  .navigation {
    flex-wrap: wrap;
  }
  .navigation li {
    flex: 1 1 100%;
    text-align: center;
  }
  .b {
    padding: 0;
  }
}

@media (max-width: 200px) {
  .navbar {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
  .navigation {
    padding: 0;
  }
  .heading h2 {
    flex-direction: column;
  }
}
