<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/CSS/styles.css" rel="stylesheet" />
    <title>Main</title>
  </head>
  <body>
    <main class="main-content">
      <section>
        <header class="heading">
          <h2>
            <span>Posts</span>
            <a class="small link" href="posts.html">See All</a>
          </h2>
        </header>
        <div class="posts">
          <a class="post-link link" href="/POSTS/post_one.html">
            <time class="time">June 2025</time>
            <p>Lorem Ipsum</p>
          </a>
          <img src="/IMAGE/writing-icon-17098.png" class="hero-image" alt="writing icon">
        </div>
      </section>
      <section>
        <header class="heading">
          <h2>
            <span>Lyrics</span>
            <a class="small link" href="lyrics.html">See All</a>
          </h2>
        </header>
        <div></div>
      </section>
      <section>
        <header class="heading">
          <h2>
            <span>Poetry</span>
            <a class="small link" href="poetry.html">See All</a>
          </h2>
        </header>
      </section>
    </main>
  </body>
</html>
