<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/CSS/styles.css" rel="stylesheet" />
    <title>NavBar</title>
  </head>
  <body>
    <header class="navbar">
      <div class="navbar-title nav-font">
        <a class="nav-links" href="/HTML/index.html"
          ><span>&#9775;</span>marc.blog</a
        >
      </div>
      <nav>
        <ul class="navigation nav-font">
          <li><a class="nav-links" href="/HTML/posts.html">Blog</a></li>
          <li><a class="nav-links" href="/HTML/lyrics.html">Lyrics</a></li>
          <li><a class="nav-links" href="/HTML/poetry.html">Poetry</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
