<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/CSS/styles.css" rel="stylesheet" />
    <title>NavBar</title>
  </head>
  <body>
    <header class="navbar">
      <div class="navbar-title">
        <a class="nav-links" href="index.html"><span>&#9775;</span>marc.blog</a>
      </div>
      <nav>
        <ul class="navigation">
          <li><a class="nav-links" href="posts.html">Blog</a></li>
          <li><a class="nav-links" href="lyrics.html">Lyrics</a></li>
          <li><a class="nav-links" href="poetry.html">Poetry</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
